<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%magenta(%d{HH:mm:ss.SSS}) %green([%thread]) %-5level %cyan(%logger{36})\t\t%blue(%msg%n)</pattern>
        </encoder>
    </appender>

    <logger name="org.hibernate" level="info"/>

    <root level="debug">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
